<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
    {% endif %}

    {% if done %}
        <div class="done-message">
            {{ done }}
        </div>
    {% endif %}
    <div class="container">
        <h1>YouTube Downloader</h1>
        <form id="download-form" action="/download" method="POST">
            <input type="text" name="yt_url" placeholder="Enter YouTube URL" required>
            <select name="download_type" required>
                <option value="" disabled selected>Select Download Type</option>
                <option value="1">Audio</option>
                <option value="2">Video</option>
            </select>
            <button type="submit">Download</button>
        </form>
        <div id="progress-container">
            <progress id="progress-bar" value="0" max="100"></progress>
            <div id="progress-text">Progress: 0%</div>
        </div>
    </div>
    <script>
        var socket = io();

        // Listen for progress updates
        socket.on('progress', function(data) {
            const progressBar = document.getElementById('progress-bar');
            const progressText = document.getElementById('progress-text');

            if (data.percent === -1) {
                progressText.innerText = 'Error: Download failed';
                progressBar.value = 0;
            } else {
                progressBar.value = data.percent;
                progressText.innerText = 'Progress: ' + data.percent + '%';
            }
        });
    </script>
</body>
</html>